html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    overflow-y: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(rgb(16, 16, 16));
}

h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin-left: 1%;
    text-decoration: underline;
    text-underline-position: auto;

    text-shadow: 2px 2px black;
}

h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 255, 255);
    margin-left: 1%;

    text-shadow: 2px 2px black;
}

.banner {
    background-image: url(/Assets/Images/BannerImage.jpg);
    background-size: cover;
    overflow-y: auto;
    overflow-x: auto;
}