html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(16, 16, 16);
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0%, 9.09% {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.693);
  }
  100% {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.693);
  }
}

h1, h2 {
    color: white;
    margin-left: 1%;
    text-shadow: 2px 2px black;
}

h1 {
    text-decoration: underline;
    text-underline-position: auto;
}

.topnav {
    margin-left: 1%;
    margin-bottom: 1%;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-decoration: underline;
    text-shadow: 2px 2px black;
    margin-left: 1%;
}

.banner {
    background-size: cover;
    overflow-y: auto;
    overflow-x: auto;
}