html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(16, 16, 16);
    animation: fadeIn 1s ease-in-out forwards;
}
@keyframes fadeIn {
  0%, 9.09% {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.693);
  }
  100% {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.693);
  }
}
.banner h1,
.banner h2 {
    color: white;
    margin-left: 1%;
    text-shadow: 2px 2px black;
}
.banner h1 {
    text-decoration: underline;
    text-underline-position: auto;
    transition: transform 0.2s ease;
}

.banner h1:hover {
    text-decoration: underline;
    text-underline-position: auto;
    transform: translateY(-1px);
}

.topnav {
    margin-left: 1%;
    margin-bottom: 1%;
    overflow: hidden;
}

.banner .topnav a {
    float: left;
    color: #f2f2f2;
    text-shadow: 2px 2px black;
    margin-left: 1%;
    margin-bottom: 0.5%;
    text-decoration: none;
    transition: transform 0.2s ease;
}

.banner .topnav a:hover {
    float: left;
    color: #f2f2f2;
    text-shadow: 2px 2px black;
    margin-left: 1%;
    margin-bottom: 0.5%;
    text-decoration: underline;
    transform: translateY(-1.5px);
}

.banner {
    background-size: cover;
    position: relative;
    overflow-y: auto;
    overflow-x: auto;
    -webkit-mask-image: linear-gradient(to bottom, black 95%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 95%, transparent 100%);
}


.button {
    display: inline-block;
    padding: 14px 28px;
    margin: 15px;
    background-color: #f79d4f;
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}
.button:hover {
    background-color: #db8438;
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.35);
}

.card {
    display: block;
    width: fit-content;
    max-width: 95%;
    padding: 5%;
    margin: 1%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    line-height: 2;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

.card:hover{
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.559);
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(16, 16, 16);
    text-shadow: none;
    margin-left: 0;
}
h1 {
    text-decoration: none;
}